extends layout

block content
  div.results
    h3 View database: #{collectionName}
    div.items
      ul
        if users
          for user in users
            li= user.body
          else
            li No users!
        else
          p No results
