extends layout

block content
  h3 Insert into database
  form(method="post", action="/database")
      input(type="text", name="username")
      input(type="submit")
    if message
      p= message
    else if warning
      p= warning

  div.results

