doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Checkin
    ul
      li
        a(href="/") Home
      li
        a(href="/sms") Send Sms
      li
        a(href="/database") Insert into Database
      li
        a(href="/display") View Database

    block content
